#Education {
  height: 100vh;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  .grid-item {
    // padding: 10rem;
    text-align: center;
  }
}

.card {
  border-radius: 2rem;
  width: 70%;
  // opacity: 1;
  // transform: translateX(5rem);
  // height: 40%;
  .card-image {
    height: 11rem;
    width: 50%;
    border-radius: 0 2rem 2rem 0;

    // width: 11rem;
    // margin-left: 7rem;
  }
}


@media all and (max-width: 768px) {
  .grid-container{
    display: flex;
    flex-direction: column;
  }
  .item6,.item2,.item3{
    display: none;
  }
  .card{
    margin: 1rem 3rem;
    height: 15rem;
    .card-image {
    height: 8rem;
    width: 100%;
    border-radius:2rem;
  }
  }
  
}